/* Reset some default styles */
body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Style the App container */
.App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  height: 100vw;
  width: 100vw;
}

/* Style the main content area */
main {
  background-color: #fff;
  border-radius: 5px;
  max-width: 80vw;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  min-height: 400px;
}

/* Style the GuestList heading */
h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Style the Add Guest Name heading */
h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

/* Style the form */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Style the input fields */
input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Style the Manage Guestlist section */
.CreateGuest,
.GuestList-Section {
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 20px;
  min-height: 400px;
  text-align: center;
}

/* Style the Manage Guestlist heading */
.GuestList h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Style the table */
.audit.table {
  width: 100%;
  border-collapse: collapse;
}

/* Style the table headers */
.table-th {
  background-color: #333;
  color: white;
}

.table-th th {
  padding: 10px;
}

/* Style the table body */
.table-body td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  button {
    background-color: lightcoral;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
  }
}

.RemoveAll {
  background-color: rgb(137, 78, 78);
}

/* Style the ExampleGuest items */
.ExampleGuest td {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

/* Style the checkbox label */
label[for='AttendingStatus'] {
  font-weight: bold;
}

/* Style the Remove button */
button {
  background-color: gray;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
}

/* Style the loading text */
.loading {
  font-size: 18px;
  font-weight: bold;
}

.Filter {
  margin: 0px 20px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  button {
    width: 200px;
  }
}

.filter-true {
  background-color: rgb(54, 95, 54);
}
