body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
  text-align: center;
}

.App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  height: 100vw;
  width: 100vw;
  align-items: center;
  display: flex;
  flex-direction: column;
}

main {
  background-color: #fff;
  border-radius: 5px;
  max-width: 80vw;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  min-height: 400px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.CreateGuest-Section,
.GuestList-Section,
.Manage-GuestList-Section {
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 20px;
  min-height: 400px;
  text-align: center;
}

.GuestList-Section {
  overflow: auto;
  max-height: 400px;
}

.GuestList-Section h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.audit.table {
  width: 100%;
  border-collapse: collapse;
}

.table-th {
  background-color: #333;
  color: white;
}

.table-th th {
  padding: 10px;
}

.table-body td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  button {
    background-color: lightcoral;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
  }
}

.RemoveAll {
  background-color: rgb(137, 78, 78);
}

.ExampleGuest td {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

label[for='AttendingStatus'] {
  font-weight: bold;
}

button {
  background-color: gray;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
}

.loading {
  font-size: 18px;
  font-weight: bold;
}

.Filter {
  margin: 0px 20px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  button {
    width: 200px;
  }
}

.filter-true {
  background-color: rgb(54, 95, 54);
}
